@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tamagotchi Hotel</h1>
    <p class="lead">Made by Bart Renders & Michat Morel</p>
</div>

<div class="row">
    <div class="col-md-6">
        <!-- Overview of tamagotchi's that are alive -->
        

    </div>
    <div class="col-md-6">
        <!-- Overview of tamagotchi's that are dead -->
    </div>
    <div class="col-md-6">
        <!-- Overview of tamagotchi's without a room -->
    </div>
</div>